frontend
.DS_Store
.env
.idea
.buildpath
.project
.settings/
.externalToolBuilders/
Thumbs.db
bitrix
cgi-bin
bs-data/town_array.data
robots.txt
/.htaccess
web.config
.settings/*
/*.zip
/*.tar
bitrix/modules/updater.log
node_modules
upload
.buildpath
.project
robots.txt
bitrix/html_pages/
/sitemap*
log.txt
/bitrix/*.log
/bitrix/modules/error.log
*.tar.gz
*.tar.gz.1
*.tar.gz.2
*.tar.gz.3
*.tar.gz.4
/*.jpg
/*.png
sef/
cache/*
local/templates/aspro_next/build
/vendor/
local/modules/sprint.migration
